#header {
  background-color: #BEEFED;
  color: #728f8e;
  text-align: center;
  height: 10vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

#header p {
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.fa-chevron-right,
.fa-chevron-left {
  color: #323232;
  cursor: pointer;

}

.instagram-photo{
  display: flex;
  align-items: center;
  height: 90vh;
}
